## Typescript q2g Files
*.map
*.js
*.css
dist/*.d.ts
package-lock.json

## Typescript q2g Folders
node_modules/
dist/

## Standard vccode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json